
/*
  common css
  1.浮动
  2.清除浮动
*/
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}
